.App {
  text-align: center;
}



/**
----------------------------> BOOK
**/
/**
----------------------------> CONTACT
**/
.Title {
}

.Contact {
  margin: 5rem;
  display: flex;
  flex-direction: column;
}

.ContactLogosBar {
  margin: 5rem;
  display: flex;
}

.Show {
  margin-bottom: 2rem;
  align-self: center;
  width: 90%;
  height: 40em;
  background-color: #333;
}

.ShowSlide {
  display: grid;
  width: 100%;
  height: 100%;
}

.ShowSlideText {
  width: 70%;
  height: 70%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  hyphens: auto;
  text-align: start;
  word-break: break-word;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Form {
  width: 100%;
}

.FormLabel {
  width: fit-content;
  justify-content: left;
}
/**
----------------------------> COMING NEXT
**/
