::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #777777;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #555555;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 0.03em solid #777777;
  border-radius: 0.3em;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5% 1fr;
  text-align: center;
}

.ButtonPrimary {
  color: rgb(51, 51, 51);
  background-color: rgb(149, 213, 172);
  --bs-btn-bg: #333;
  --bs-btn-border-color: rgb(149, 213, 172);;
  --bs-btn-hover-bg: #333;
  --bs-btn-hover-border-color: rgb(149, 213, 172);
  --bs-btn-active-bg: #333;
  --bs-btn-active-border-color: #333;
  --bs-btn-disabled-bg: #333;
  --bs-btn-disabled-border-color: #333;
}

.Input {
  background-color: #888888;
  color: antiquewhite;
}

.Input:focus {
  outline: none !important;
  border: 1px solid #333;
  box-shadow: 0 0 5px #719ECE;
}

.Header {
  box-shadow: 0px 0px 15px rgba(85, 76, 65, 0.5);
  background-color: rgb(51, 51, 51)
}

.AppMain {
  width: 100%;
  color: antiquewhite;
  background-color: #555555;
}

.HeaderEntry {
  color: rgb(250, 235, 215);
  justify-self: left;
  margin-right: 3rem;
  --bs-navbar-brand-hover-color: rgb(149, 213, 172);
}

.HeaderEntryName {
  flex-grow: 1;
  color: antiquewhite;
  text-align: end;
  font-size: 1.2rem;
  font-weight: bold;
}

/**
----------------------------> BOOK
**/

.Card {
  background-color: rgb(51, 51, 51);
  color: antiquewhite;
}

/**
----------------------------> CONTACT
**/
.Contact {
  margin: 5rem;
  display: flex;
  flex-direction: column;
}

.Show {
  margin-bottom: 2rem;
  align-self: center;
  width: 90%;
  height: 35rem;
  background-color: #333;
}

.ShowSlide {
  display: grid;
  width: 100%;
  height: 100%;
}

.ShowSlideText {
  width: 70%;
  height: 13em;
  justify-self: center;
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  font-size: large;
  line-height: 1.5;
  hyphens: auto;
  text-align: start;
  word-break: break-word;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: overlay;
}

.title {
  font-weight: bold;
  margin: 1em;
}

.passion {
  color: rgba(79, 255, 193, 1);
  /* RGB (79, 255, 193) - Light Green */
  font-weight: bold;
}

.ShowSlideText::-webkit-scrollbar {
  width: 1em;
}

.ShowSlideText::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #777777;
}

.ShowSlideText::-webkit-scrollbar {
  width: 0.5em;
  background-color: #555555;
}

.ShowSlideText::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 0.03em solid #777777;
  border-radius: 0.3em;
}

.ShowSlideCaption {
  vertical-align: bottom;
  position: inherit;
  margin-top: 1%;
  padding-bottom: 2%;
  right: 0;
  left: 0;
}

.Form {
  width: 90%;
  height: 40%;
  align-self: center;
}

.FormLabel {
  width: fit-content;
  justify-content: left;
}